<ul>
  {{#each messages}}
  <li>{{text}}</li>
  {{/each}}
</ul>

{{#if channel}}
<form method="post" action="/channels/{{channel}}">
  <input type="text" name="text" placeholder="Send a message!" />
  <input type="submit" value="Submit" />
</form>
{{/if}}
