<script src="/public/messages.js"></script>

<ul id="messages-list">
  {{#each messages}}
  <li>{{text}} (<span>{{ago createdAt}}</span>) - {{user.username}}</li>
  {{/each}}
</ul>

{{#if channel}}
<form id="messages-form" method="post" action="/channels/{{channel}}">
  <input type="text" name="text" placeholder="Send a message!" />
  <input type="submit" value="Submit" />
</form>
{{/if}}
